<footer class="relative bg-gradient-to-r from-slate-900  to-gray-950 text-white overflow-hidden">

    <div class="absolute inset-0 opacity-20"
        style="background-image: url('data:image/svg+xml,%3Csvg width=\'52\' height=\'26\' viewBox=\'0 0 52 26\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cg fill=\'none\' fill-rule=\'evenodd\'%3E%3Cg fill=\'%239C92AC\' fill-opacity=\'0.2\'%3E%3Cpath d=\'M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z\' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');">
    </div>


    <div class="absolute -top-20 -left-20 w-72 h-72  rounded-full mix-blend-screen opacity-20 filter blur-3xl">
    </div>
    <div class="absolute -bottom-20 -right-20 w-96 h-96 rounded-full mix-blend-screen opacity-20 filter blur-3xl">
    </div>

    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8 py-12">

            <div class="space-y-4 relative z-10">
                <h3
                    class="text-lg font-bold uppercase bg-gradient-to-r from-orange-600 to-white bg-clip-text text-transparent">
                    Sobre Nosotros</h3>
                <p class="text-gray-200">Somos el mejor centro especializado en fitness. Realizamos rutinas del más alto
                    nivel bajo la supervisión de expertos completamente calificados.</p>
            </div>

            <div class="relative z-10">
                <h3
                    class="text-lg font-bold uppercase mb-4 bg-gradient-to-r from-orange-600 to-white bg-clip-text text-transparent">
                    Links</h3>
                <ul class="space-y-2">
                    <li><a routerLink="/"
                            class="text-gray-300 hover:text-white transition-colors flex items-center group">
                            <span
                                class="bg-gradient-to-r from-orange-300 to-orange-600 w-1 h-4 mr-2 transition-all group-hover:w-2"></span>
                            Home
                        </a></li>
                    <li><a routerLink="/servicios"
                            class="text-gray-300 hover:text-white transition-colors flex items-center group">
                            <span
                                class="bg-gradient-to-r from-orange-300 to-orange-600 w-1 h-4 mr-2 transition-all group-hover:w-2"></span>
                            Servicios
                        </a></li>
                    <li><a routerLink="/nosotros"
                            class="text-gray-300 hover:text-white transition-colors flex items-center group">
                            <span
                                class="bg-gradient-to-r from-orange-300 to-orange-600 w-1 h-4 mr-2 transition-all group-hover:w-2"></span>
                            Nosotros
                        </a></li>
                    <li><a href="https://wa.me/593982737437" target="_blank"
                            class="text-gray-300 hover:text-white transition-colors flex items-center group">
                            <span
                                class="bg-gradient-to-r from-orange-300 to-orange-600 w-1 h-4 mr-2 transition-all group-hover:w-2"></span>
                            Contáctanos
                        </a></li>
                </ul>
            </div>

            <div class="relative z-10">
                <h3
                    class="text-lg font-bold uppercase mb-4 bg-gradient-to-r from-orange-600 to-white bg-clip-text text-transparent">
                    Contact</h3>
                <ul class="space-y-2 text-gray-300">
                    <li class="flex items-center hover:text-white transition-colors">
                        <svg class="w-5 h-5 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                        </svg>
                        info&#64;example.com
                    </li>
                </ul>
            </div>

            <div class="relative z-10">
                <h3
                    class="text-lg font-bold uppercase mb-4 bg-gradient-to-r from-orange-600 to-white bg-clip-text text-transparent">
                    Follow us</h3>
                <div class="flex space-x-6">
                    <a href="https://www.facebook.com/profile.php?id=61573770675427&rdid=L6y26RjYzyLkQkY1&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1HBvdbtP9U%2F#"
                        target="_blank" class="p-2 rounded-full backdrop-blur-sm hover:bg-white/20 transition-all">
                        <i class="fa-brands fa-facebook text-2xl"></i>
                    </a>
                    <a href="https://www.instagram.com/fortader/" target="_blank"
                        class="p-2 rounded-full backdrop-blur-sm hover:bg-white/20 transition-all">
                        <i class="fa-brands fa-instagram text-2xl"></i>
                    </a>
                    <a href="https://www.tiktok.com/@fortader?is_from_webapp=1&sender_device=pc" target="_blank"
                        class="p-2 rounded-full backdrop-blur-sm hover:bg-white/20 transition-all">
                        <i class="fa-brands fa-tiktok text-2xl"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="border-t border-white/10 py-6 relative z-10">
            <p class="text-center text-sm text-gray-300">&copy; 2025 Fortader Gym</p>
        </div>
    </div>
</footer>