<h1 id="typewriter" class="text-6xl font-bold text-white text-center"></h1>
<section class="py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="md:flex gap-x-24 clear-left md:mb-16 mb-10">
            <div class=" md:mb-0 mb-4">
                <h2
                    class="text-orange-500 font-manrope text-4xl font-semibold leading-10 mb-5 md:text-left text-center">
                    ¡Hola, campeon&#64;
                </h2>
                <p class="text-gray-300 text-lg font-normal leading-7 mb-7 md:text-left text-center">¿Tienes dudas sobre
                    nuestros planes, clases o servicios? ¡Estamos aquí para ayudarte a empezar tu camino fitness!</p>
            </div>
            <div class="border-l-2 md:border-orange-500 border-orange-500 px-10 py-6">
                <div class="mb-8">
                    <h6 class="text-white text-sm font-medium leading-5 pb-3 md:text-start text-center">Email Address
                    </h6>
                    <a href="mailto:er_hugs@hotmail.com" target="_blank">
                        <h3 class="text-orange-400 text-xl font-semibold leading-8 md:text-start text-center">
                            er_hugs&#64;hotmail.com
                        </h3>
                    </a>
                </div>
                <div>
                    <h6 class="text-white text-sm font-medium leading-5 pb-3 md:text-start text-center">Teléfono
                    </h6>
                    <a href="tel:+593982737437" target="_blank">
                        <h3 class="text-orange-400 text-xl font-semibold leading-8 md:text-start text-center">
                            +593 98 273 7437
                        </h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-2 ">
            <!-- Ubicacion -->
            <div class="h-96 relative flex justify-center rounded-2xl overflow-hidden shadow-lg group">
                <a href="https://maps.app.goo.gl/ZncdMhHPQmABkCB5A" target="_blank">
                    <div class="w-full h-full absolute bg-gradient-to-t from-black/60 to-transparent"></div>
                    <img src="https://st2.depositphotos.com/4242631/6430/v/450/depositphotos_64302369-stock-illustration-map-icon-with-pin-pointer.jpg"
                        alt="Instalaciones del gimnasio"
                        class="w-full h-full object-cover transition-transform duration-500 ease-in-out group-hover:scale-105">
                    <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-6">
                        <h5 class="text-white text-xl font-bold mb-1">Ubicación</h5>
                        <p class="text-white text-sm">Conoce en donde estamos ubicados</p>
                    </div>
                </a>
            </div>


            <!-- Contáctanos -->
            <div class="h-96 relative flex justify-center rounded-2xl overflow-hidden shadow-lg group">
                <a href="https://wa.me/593982737437" target="_blank">
                    <div class="w-full h-full absolute bg-gradient-to-t from-black/60 to-transparent"></div>
                    <img src="https://scontent.fuio26-1.fna.fbcdn.net/v/t39.30808-6/524802098_122143540574792355_2197979943319528069_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHnBbFB5znKX7H-HJF9sI1TM0smlT-50hozSyaVP7nSGu9qJsKKkWFxvRDmXjpCpsoFl2ldFW1bVBcL1B95Esu1&_nc_ohc=SJKFVDBiv2AQ7kNvwEW5ZG5&_nc_oc=AdmgsHbnLnFSJHnIAqTvUOvhSsBKsZVmNHqDIuXs6XhdKm7hhWo9G1AQ1uhPH_R839M&_nc_zt=23&_nc_ht=scontent.fuio26-1.fna&_nc_gid=chHVbWN5__Al7fyvIZh6ww&oh=00_AfUQU8Fu1o9t44n2iUYf39-8Aax0e5AyLmTKiTpqNQwF8g&oe=68A49E93"
                        alt="Contáctanos"
                        class="w-full h-full object-cover transition-transform duration-500 ease-in-out group-hover:scale-105">
                    <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-6">
                        <h5 class="text-white text-xl font-bold mb-1">Contáctanos</h5>
                        <p class="text-white text-sm">WhatsApp: +593 982 737 437 </p>
                    </div>
                </a>
            </div>
        </div>


    </div>
</section>